Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  readability,
  -misc-include-cleaner,
  -readability-magic-numbers,
  -misc-use-internal-linkage,
  -readability-braces-around-statements,
  -readability-identifier-length

CheckOptions:

  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;3;10;30;100;800'

  - key: misc-include-cleaner.IgnoreHeaders
    value: 'windows.h;winuser.h;commctrl.h'

  - key: misc-include-cleaner.IgnoreAllSystemHeaders
    value: 'true'
